body {
    padding: 10px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

hr {
    margin-left: -10px;
    margin-top: -2px;
}

img {
}

.listing-card {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px 20px;
    
    border-radius: 10px;
}

.listing-card .description {
    height: 150px;
    margin-top: 10px;
    overflow: hidden;
}

.listing-card .image {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-color: #e6e6e6;
}

.listing-card img {
    max-width: 250px;
    max-height: 250px;
}

.listing-card .price {
    font-size: 24px;
    font-weight: 500;
}

.listing-card .text {
    float: left;
    margin-left: 12px;
    padding: 5px 0;
    max-width: calc(100% - 265px);
    max-height: 250px;
}

.listing-card a {
    color: #212925;
}

#main {
    margin-top: 130px;
}

#navbar {
    margin-left: -10px;
    text-align: center;
}

#navbar button {
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 2px;
}

#navbar ul {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

#navbar li {
    float: left;
    height: 54px;
}

#navbar li a {
    display: block;
    color: #fff;
    padding: 15px;
}

#navbar li a.active {
    background-color: #ead411;
    color: #111;
    text-decoration: none;
    font-weight: 500;
}

#navbar li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
}

.no-image {
    border-radius: 10px;
}

#pagename {
    background-color: #fff;
    padding-top: 10px;
}

.phone {
    display: none;
}

#top {
    background-color: #fff;
}

#topspace {
    height: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}





@media screen and (max-width:860px) {

    .desktop {
        display: none;
    }

    .phone {
        display: unset;
    }
}
