body {
    padding: 10px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

hr {
    margin-left: -10px;
    margin-top: -2px;
}

img {
    max-width: 200px; /* Privremeno */
}

#main {
    margin-top: 200px;
}

#navbar {
    margin-left: -10px;
    text-align: center;
}

#navbar button {
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: -1.4px;
    margin-left: 2px;
}

#navbar ul {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #fff;
    padding: 15px;
}

#navbar li a.active {
    background-color: #ead411;
    color: #111;
    text-decoration: none;
}

#navbar li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
}

#pagename {
    background-color: #fff;
    padding-top: 10px;
}

#top {
    background-color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
