a, a:hover {
    color: #212925;
}

body {
    padding: 10px;
}

.comment {
    margin-bottom: 8px;
    width: 300px;
}

.comment hr {
    margin: 10px 0 0;
}

#comments {
    margin-top: 20px;
}

#desc-title {
    font-size: 18px;
    font-weight: 500;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

hr {
    margin: -2px 0 15px -10px;
}

input {
    border: solid 1px;
    border-radius: 10px;
    padding: 0 10px;
    width: 150px;
}

.listing-card {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px 20px;
}

.listing-card .description {
    height: 7.5rem;
    margin-top: 10px;
    overflow: hidden;
}

.listing-card .image {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-color: #e6e6e6;
}

.listing-card img {
    max-width: 250px;
    max-height: 250px;
}

.listing-card .price {
    font-size: 24px;
    font-weight: 500;
}

.listing-card .text {
    float: left;
    margin-left: 12px;
    padding: 5px 0;
    max-width: calc(100% - 265px);
    max-height: 250px;
}

#listing-description {
    margin: 5px 0;
}

.listing-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    background-color: #e6e6e6;
}

.listing-image img {
    max-width: 350px;
    max-height: 350px;
}

#listing-price {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 500;
}

#listing-price span {
    font-size: 24px;
}

#listing-timestamp {
    color: #888;
}

#listing-watchlist {
    padding: 10px 0 5px;
}

#main {
    margin-top: 130px;
}

#main button {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    border-style: none;
    padding: 2px 7px;
}

#main button:hover {
    background-color: #111;
}

#navbar {
    margin-left: -10px;
    text-align: center;
}

#navbar ul {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

#navbar li {
    float: left;
    height: 54px;
}

#navbar li a {
    display: block;
    color: #fff;
    padding: 15px;
}

#navbar li a.active {
    background-color: #bbb;
    color: #111;
    text-decoration: none;
    font-weight: 500;
}

#navbar li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
}

.navbtn {
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 2px;
}

#new-comm {
    margin-top: 16px;
}

.no-image {
    border-radius: 10px;
}

#pagename {
    background-color: #fff;
    padding-top: 10px;
}

.phone {
    display: none;
}

textarea {
    border-radius: 10px;
    padding: 2px 10px;
    height: 100px;
    width: 350px;
    resize: none;
}

#top {
    background-color: #fff;
}

#topspace {
    height: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}





@media screen and (max-width:860px) {
    .desktop {
        display: none;
    }

    .phone {
        display: unset;
    }
}

@media screen and (max-width:480px) {
    .listing-card .description {
        height: 50px;
    }

    .listing-card .image {
        float: none;
    }

    .listing-card .text {
        max-width: 100%;
        margin-left: 0;
    }
}
