body {
    padding: 10px;
}

.card {
    width: 200px;
    height: 400px;
    margin: 10px;
}

.card .description {
    height: 50px;
}

.card .image {
    text-align: center;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

hr {
    margin-left: -10px;
    margin-top: -2px;
}

img {
    max-width: 200px; /* Privremeno */
    max-height: 200px;
}

#main {
    margin-top: 130px;
}

#navbar {
    margin-left: -10px;
    text-align: center;
}

#navbar button {
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 2px;
}

#navbar ul {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

#navbar li {
    float: left;
    height: 54px;
}

#navbar li a {
    display: block;
    color: #fff;
    padding: 15px;
}

#navbar li a.active {
    background-color: #ead411;
    color: #111;
    text-decoration: none;
}

#navbar li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
}

#pagename {
    background-color: #fff;
    padding-top: 10px;
}

.phone {
    display: none;
}

#top {
    background-color: #fff;
}

#topspace {
    height: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}





@media screen and (max-width:860px) {

    .desktop {
        display: none;
    }

    .phone {
        display: unset;
    }
}

@media screen and (max-width:480px) {

}