{% extends "auctions/layout.html" %}

{% block body %}
    {% if category %}
        <h2>{{ category }}</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    <ul>
        {% if listings %}
            {% for listing in listings %}
                <li>
                    <div>
                        <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
                    </div>
                    <div>
                        {% if listing.image %}
                            <img src="{{ listing.image }}" style="max-width:200px;">
                        {% else %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" style="max-width:10%;">
                        {% endif %}
                    </div>
                    <div>
                        {{ listing.description }}
                    </div>
                    <div>
                        Category: <a href="{% url 'categories' %}?c={{ listing.get_category_display }}">{{ listing.get_category_display }}</a>
                        <h4>Price: ${{ listing.start_bid }}</h4>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            No listings.
        {% endif %}
    </ul>
{% endblock %}