{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul>
            <li>
                <a href="{% url 'index' %}">Active Listings</a>
            </li>
            <li>
                <a href="{% url 'categories' %}">Categories</a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'new' %}">Create Listing</a>
                </li>
                <li>
                    <a href="{% url 'watchlist' %}">Watchlist<button>{{ request.watchlist_count }}</button></a>
                </li>
                <li>
                    <a href="{% url 'my_listings' %}">My Listings<button>{{ request.my_listings_count }}</button></a>
                </li>
                <li>
                    <a href="{% url 'bought_items' %}">Bought Items<button>{{ request.bought_items_count }}</button></a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>
