{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="header">
            <div id="top">
                <div id="title">
                    <h1>Auctions</h1>
                </div>
                <div id="userinfo">
                    {% if user.is_authenticated %}
                        Signed in as <strong>{{ user.username }}</strong>
                    {% else %}
                        Not signed in
                    {% endif %}
                </div>
            </div>
            <div id="navbar">
                <ul>
                    <li>
                        {% if request.path == "/" %}
                            <a class="active" href="{% url 'index' %}">Active Listings</a>
                        {% else %}
                            <a href="{% url 'index' %}">Active Listings</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if request.path == "/categories" %}
                            <a class="active" href="{% url 'categories' %}">Categories</a>
                        {% else %}
                            <a href="{% url 'categories' %}">Categories</a>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            {% if request.path == "/new" %}
                                <a class="active" href="{% url 'new' %}">Create Listing</a>
                            {% else %}
                                <a href="{% url 'new' %}">Create Listing</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if request.path == "/watchlist" %}
                                <a class="active" href="{% url 'watchlist' %}">Watchlist<button class="navbtn">{{ request.watchlist_count }}</button></a>
                            {% else %}
                                <a href="{% url 'watchlist' %}">Watchlist<button class="navbtn">{{ request.watchlist_count }}</button></a>
                                {% endif %}
                        </li>
                        <li>
                            {% if request.path == "/my_listings" %}
                                <a class="active" href="{% url 'my_listings' %}">My Listings<button class="navbtn">{{ request.my_listings_count }}</button></a>
                            {% else %}
                                <a href="{% url 'my_listings' %}">My Listings<button class="navbtn">{{ request.my_listings_count }}</button></a>
                            {% endif %}
                        </li>
                        <!--<li>
                            {% if request.path == "/bought_items" %}
                                <a class="active" href="{% url 'bought_items' %}">Bought Items<button class="navbtn">{{ request.bought_items_count }}</button></a>
                            {% else %}
                                <a href="{% url 'bought_items' %}">Bought Items<button class="navbtn">{{ request.bought_items_count }}</button></a>
                            {% endif %}
                        </li>-->
                        <li>
                            <a href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li>
                            {% if request.path == "/login" %}
                                <a class="active" href="{% url 'login' %}">Log In</a>
                            {% else %}
                                <a href="{% url 'login' %}">Log In</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if request.path == "/register" %}
                                <a class="active" href="{% url 'register' %}">Register</a>
                            {% else %}
                                <a href="{% url 'register' %}">Register</a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if title %}
                <div id="pagename">
                    <h2>{{ title }}</h2>
                    <hr>
                </div>
            {% endif %}
        </div>
        {% if title %}
        <div id="topspace"></div>
        {% endif %}
        <div id="main">
            {% if messages %}
                {% for message in messages %}
                    <div class="msg">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
