{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        {{ listing.time }}
    </div>
    {% if not listing.active_status %}
        <div>
            <h4>This listing is no longer active.</h4>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        {% if user == listing.buyer %}
            <div>
                <h4>You have won the auction.</h4>
            </div>
        {% endif %}
        <div>
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {% if watchlist %}
                    <button type="submit" name="w_list" value="remove">Remove from watchlist</button>
                {% else %}
                    <button type="submit" name="w_list" value="add">Add to watchlist</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
    <div>
        <h3>{{ listing.title }}</h3>
    </div>
    <div>
        <h5>Category: <a href="{% url 'categories' %}?c={{ listing.get_category_display }}">{{ listing.get_category_display }}</a></h5>
    </div>
    <div>
        {% if listing.image %}
            <img src="{{ listing.image }}">
        {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930">
        {% endif %}
    </div>
    <div>
        {{ listing.description}}
    </div>
    <div>
        {% if bid %}
            {% if listing.active_status %}
                <h4>Current bid: ${{ bid.amount }}</h4>
            {% else %}
                <div>
                    <h4>Winning bid: ${{ bid.amount }}</h4>
                </div>
                <div>
                    {% if listing.buyer == user %}
                        by <strong>you</strong>
                    {% else %}
                        by <strong>{{ listing.buyer }}</strong>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <h4>Starting price: ${{ listing.start_price }}</h4>
        {% endif %}
    </div>
    {% if user.is_authenticated and listing.active_status %}
    <div>
        {% if not user == listing.seller %}
            <div>
                <h4>Make a bid:</h4>
            </div>
            <div>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {% if bid %}
                        <input type="number" min="{{ bid.amount }}" step="0.01" name="bd">
                    {% else %}
                        <input type="number" min="{{ listing.start_price }}" step="0.01" name="bd">
                    {% endif %}
                    <button type="submit">Bid</button>
                </form>
            </div>
        {% else %}
            <div>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="close" value="close">Close the listing</button>
                </form>
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div>
        <h5>
            Comments
        </h5>
    </div>
    {% if comments %}
        <div>
            {% for comment in comments %}
                <div>
                    <strong>{{ comment.commenter }}</strong>
                </div>
                <div>
                    {{ comment.text }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            No comments.
        </div>
    {% endif %}
    {% if user.is_authenticated and listing.active_status %}
        <div>
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <div>
                    <textarea autofocus="off" name="cmnt" placeholder="Comment"></textarea>
                </div>
                <div>
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}