{% extends "auctions/layout.html" %}

{% block body %}
    {% if not listing.active_status %}
        <div id="listing-inactive">
            This listing is no longer active {% if user == listing.buyer %}(you have won the auction){% endif %}.
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div id="listing-watchlist">
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {% if watchlist %}
                    <button type="submit" name="w_list" value="remove">Remove from watchlist</button>
                {% else %}
                    <button type="submit" name="w_list" value="add">Add to watchlist</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
    <div id="listing-title">
        <h3>{{ listing.title }}</h3>
    </div>
    <div class="listing-image">
        {% if listing.image %}
            <img src="{{ listing.image }}">
        {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930">
        {% endif %}
    </div>
    <div id="listing-category">
        Category: <a href="{% url 'categories' %}?c={{ listing.get_category_display }}">{{ listing.get_category_display }}</a>
    </div>
    <div id="listing-description">
        <div id="desc-title">
            Description
        </div>
        <div id="text">
            {{ listing.description}}
        </div>
    </div>
    <div id="listing-timestamp">
        Created {{ listing.time }} by {% if listing.seller == user %} <strong>you</strong> {% else %} <strong>{{ listing.seller }}</strong> {% endif %}
    </div>
    <div id="listing-price">
        {% if bid %}
            {% if listing.active_status %}
                <div>
                    Current bid: <span>${{ bid.amount }}</span> {% if bid.buyer == user %} (by <strong>you</strong>) {% endif %}
                </div>
            {% else %}
                <div>
                    Winning bid: <span>${{ bid.amount }}</span>
                </div>
                <div>
                    {% if listing.buyer == user %}
                        by <strong>you</strong>
                    {% else %}
                        by <strong>{{ listing.buyer }}</strong>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            Starting price: <span>${{ listing.start_price }}</span>
        {% endif %}
    </div>
    {% if user.is_authenticated and listing.active_status %}
    <div>
        {% if not user == listing.seller %}
            <div>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <input placeholder="Make a bid..." name="bd">
                    <button type="submit">Bid</button>
                </form>
            </div>
        {% else %}
            <div>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="close" value="close">Close the listing</button>
                </form>
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div id="comments">
        <hr>
        <div id="comm-title">
            <h5>
                Comments
            </h5>
        </div>
        {% if comments %}
            <div>
                <ul>
                {% for comment in comments %}
                    <li class="comment">
                        <hr>
                        <div>
                            <strong>{{ comment.commenter }}</strong>
                        </div>
                        <div>
                            {{ comment.text }}
                        </div> 
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <div>
                No comments.
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <div id="new-comm">
                <hr>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <div>
                        <textarea name="cmnt" placeholder="Comment..."></textarea>
                    </div>
                    <div>
                        <button type="submit">Post</button>
                    </div>
                </form>
            </div>
        {% else %}
            <hr>
            <div>
                Would you like to leave to leave a comment? You can <a href="{% url 'login' %}">login</a>/<a href="{% url 'register' %}">register</a> here.
            </div>
        {% endif %}
    </div>
{% endblock %}