{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <div class="msg">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            <input autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class>
            <input type="password" name="password" placeholder="Password">
        </div>
        <button type="submit" value="Login">Login</button>
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}