{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <div class="msg">{{ message }}</div>
    {% endif %}

    <form class="user-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div>
            <input autofocus type="text" name="username" placeholder="Username">
        </div>
        <div>
            <input type="email" name="email" placeholder="Email Address">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <inpu type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <button type="submit" value="Register">Register</button>
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}